<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/main-details.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Black Country Vets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ourServices">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/contactUs">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="about-us">
    <h2>ABOUT US</h2>

    <p>Black Country Vets was founded with a deep-rooted love for animals and a passion for providing top-notch care.
        Our
        journey began over 10 years ago when our founder realized the need for a caring, local veterinary service.
        Starting
        with a humble dream to give every pet the best care possible, we’ve grown into a trusted name in animal care,
        offering
        professional veterinary services for all pets, big and small.</p>

    <h3>Caring for Your Pets, Big & Small</h3>

    <p>At Black Country Vets, we are equipped to handle all small animals, from cats and dogs to rabbits, guinea pigs,
        exotic
        pets and even farm animals. With clinics conveniently located in Dudley and Walsall, we offer 24-hour emergency
        services
        and welcome referrals from across the UK. If you're located in places like Wolverhampton, Stourbridge, West
        Bromwich,
        Tipton, or anywhere within the Black Country region, we are proud to be your trusted local vets.</p>

    <h3>Why Choose Us?</h3>

    <p>Our priority is clear: we aim to provide high-quality care at a reasonable price. Our dedicated team of vets and
        nurses is
        always ready to offer exceptional service, going the extra mile for every pet we treat. You can rest assured
        that your pet
        will receive tailored care, especially when it comes to unique needs like Bulldog care.</p>

    <h3>Want to know more about our services and how we can help your pet? Get in touch with us today! </h3>
    <h3> We're here to ensure your furry friend gets the care they deserve.</h3>
</div>
<div class="footer-image">
    <img src="/images/paws-pink-footer.png" alt="Footer Image">
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>