<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/main-details.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Black Country Vets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ourServices">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/contactUs">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div style="display: flex; justify-content: space-between;">
    <div class="card mb-3" style="flex: 1; margin-right: 10px; text-align: center;">
        <h3 class="card-header">You Can Find Us Here</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted"> Email: blackcountryvets@thevetclinic.co.uk</h6><br>
            <h6 class="card-subtitle text-muted"> Phone: 0121 377 4416</h6>
        </div>
        <img src="/images/blackcountryvets-01.jpg" class="d-block user-select-none" width="200" height="150"
             alt="Black Country Vets" style="margin: 0 auto;">
        <div class="card-body">
            <p class="card-text"> 740 Chester Road,
                Birmingham,
                B24 7BY</p>
        </div>
    </div>

    <div class="card mb-3" style="flex: 1; margin-left: 10px; text-align: center;">
        <h3 class="card-header">At This Time</h3>
        <div class="card-body">
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Monday:</strong> 8:30am - 7:00pm</li>
                <br>
                <li><strong>Tuesday:</strong> 8:30am - 7:00pm</li>
                <br>
                <li><strong>Wednesday:</strong> 8:30am - 7:00pm</li>
                <br>
                <li><strong>Thursday:</strong> 8:30am - 7:00pm</li>
                <br>
                <li><strong>Friday:</strong> 8:30am - 7:00pm</li>
                <br>
                <li><strong>Saturday and Sunday:</strong> Closed</li>
            </ul>
        </div>
    </div>
</div>


<div class="footer-image">
    <img src="/images/paws-pink-footer.png" alt="Footer Image">
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>