<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/main-details.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Add Pet</title>
</head>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Black Country Vets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/users/menu">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/ourServices">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/navbar/contactUs">Contacts</a>
                </li>
            </ul>
            <form action="/auth/logout" method="post" class="d-flex">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</button>
            </form>
        </div>
    </div>
</nav>
<body>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Please add your pet</h2>
                </div>
                <div class="card-body">
                    <form action="/pets/addPet" method="post" th:object="${savePetRequest}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" id="name" class="form-control" th:field="*{name}" required>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="petType" class="form-label">Type:</label>
                            <select id="petType" class="form-select" th:field="*{petType}">
                                <option value="CAT">CAT</option>
                                <option value="DOG">DOG</option>
                                <option value="FISH">FISH</option>
                                <option value="RABBIT">RABBIT</option>
                                <option value="BIRD">BIRD</option>
                                <option value="REPTILE">REPTILE</option>
                                <option value="RODENT">RODENT</option>
                            </select>
                            <span th:if="${#fields.hasErrors('petType')}" th:errors="*{petType}"
                                  class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="size" class="form-label">Size:</label>
                            <select id="size" class="form-select" th:field="*{size}">
                                <option value="SMALL">SMALL</option>
                                <option value="MEDIUM">MEDIUM</option>
                                <option value="LARGE">LARGE</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="birthday" class="form-label">Birthday:</label>
                            <input type="date" class="form-control" id="birthday" th:field="*{birthday}" required>
                            <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
                                  class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="weight" class="form-label">Weight:</label>
                            <input type="text" id="weight" class="form-control" th:field="*{weight}" required>
                            <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"
                                  class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="gender" class="form-label">Gender:</label>
                            <select id="gender" class="form-select" th:field="*{gender}">
                                <option value="FEMALE">FEMALE</option>
                                <option value="MALE">MALE</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Add Pet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>