<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Pets</title>
</head>
<body>

<h1>Your Pets</h1>
<a href="/pets/addPet">Add New Pet</a><br>
<div th:if="${#lists.isEmpty(pets)}">
    <p>You don't have any pets yet.</p>
</div>

<div th:unless="${#lists.isEmpty(pets)}">
    <table>
        <thead>
        <tr>
            <th>Pet Name</th>
            <th>Pet Type</th>
            <th>Size</th>
            <th>Birthday</th>
            <th>Weight</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.name}">Pet Name</td>
            <td th:text="${pet.petType}">Pet Type</td>
            <td th:text="${pet.size}">Size</td>

            <td th:text="${#dates.format(pet.birthday, 'yyyy-MM-dd')}">Birthday</td>
            <td th:text="${pet.weight}">Weight</td>
            <td th:text="${pet.gender}">Gender</td>
<!--            <td>-->
<!--                <a th:href="@{/pets/editPet(name=${pet.name})}">Edit</a>-->
<!--            </td>-->
            <td>
                <a th:href="@{/pets/editPet(name=${pet.name})}">Edit</a>

                <form th:action="@{/pets/deletePet}" method="post" style="display: inline;">
                    <input type="hidden" name="name" th:value="${pet.name}">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this pet?')">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>